body {
	width: 80%;
	margin: 0 auto;
}

#header h1 {
	color: silver;
}

#new-item-section {
	margin-top: 50px;
	margin-bottom: 50px;
}

.new-item-component {
	display: inline-block;
	margin-right: 1em;
	vertical-align: bottom;
}

#list-items-section {
	margin-top: 50px;
	margin-bottom: 50px;
}

#items-header {
	background-color: silver;
	color: white;
	padding: 0.5em;
}

#items-body {
	border: 1px solid silver;
	padding: 1em;

}

#items-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.item-block {
	display: inline-block;
	width: 14em;
	margin-left: 0.625em;
	margin-right: 0.625em;
}

.item-purchased {
	vertical-align: bottom;
}

.item-descr {
	vertical-align: bottom;
}

.footer-component {
	display: inline-block;
	vertical-align: middle;
}

#add-img {
	width: 25px;
	height: 25px;
}

#trash-img {
	width: 50px;
	height: 50px;
}